<div class="container" id="inspiration">
		<h1>#Hanseat</h1>
		<p>Hanseat steht für einen weltoffenen Lebensstil, Lust Neues zu entdecken, stets ein gewisser Grad an Understatement und die Liebe zur See.</p>
		<%= link_to "UP-TO-DATE BLEIBEN", subscribers_path, class:"btn btn-normal bt2" %><br><br>
		<div class="col-md-4">
		<%= link_to (image_tag "hanse1.jpg", class:"image") %>
		</div>
		<div class="col-md-4">
			<%= link_to (image_tag "hanse2.jpg", class:"image") %>
		</div>
		<div class="col-md-4">
			<%= link_to (image_tag "hanse3.jpg", class:"image") %>
		</div>