// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*general*/

a {
	font-size: 1.2em;
}

p {
	text-align: left;
	margin-left: 0;
}

h1 {
	font-family: Arial;
	font-size: 6em;
	text-align: center;
	color: #1b1b1b;
	margin-top: 1em;
}

h2 {
	color: #1b1b1b;
	margin-bottom: 0.5em;
}

body {
	margin-top: 7em;
	margin-bottom: 7em;
}

.carousel-caption{
	font-size: 1em;
	margin-bottom: -20px;
	padding: 0px;
}

.box {
	background-color: grey;
}
.field {
	margin-bottom: 0;
}

.col-xs-6 {
	padding: 0;
}
/*navigation*/

.navbar-header {
	float: left;
}
.navbar .navbar-nav {
	margin: -5px;
}

.navbar-brand {
	height: 100%;
}
.collapse {
	float: left;
	margin-top: 7px;
	margin-bottom: 7px;
}

.search {
	margin-top: 20px;
	padding: 0;
	margin-right: 10px;
}

.my-image {
	display: inline-block;
	vertical-align: middle;
}

.form-control {
	padding: 0;
	width: 80%;
}


/*footer*/

.foot ul li {
	display: inline;
	font-size: 1em;	
}

.foot-text {
	float: left;
	margin: 0;
	padding-left: 0;
}

.foot a {
	color: white;
	float: left;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer {
	background-color: #1b1b1b;
	position: absolute;
	clear: both;
	width: 100%;
	left: 0;
	right: 0;
	font-family: Arial, Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, serif;
	text-decoration: none;
	margin-bottom: -10px;
}
.line-separator {
	height:1px;
	background:#717171;
	clear: both;
}

/* Product */

table {
	border: 1px solid black;
	margin-top: 1em;
}

/* Subscribers */



/* Media */
@media (max-width: 480px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.8em;
	}
	
}
@media (max-width: 767px) {
	.search {
		visibility: hidden;
		display: inline-block;
	}
}

@media (min-width: 768px) {
	.box {
		width: 30%;
	}
	.proview {
		width: 70%;
	}
}