// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*general*/

a {
  color: white;
  font-size: 1.2em;

  &:visited {
    color: white;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

p {
	text-align: left;
	margin-left: 0;
}

h1 {
	font-family: Arial;
	font-size: 6em;
}

h2 {
	color: #1b1b1b;
	margin-bottom: 0.5em;
}

h3 {
	color: black;
}

body {
	margin: 0;
}

#top {
	padding-top: 200px;
	padding-left: 40px;
	padding-bottom: 100px;
	background-color: #dedede;
	display: cover;
	width: 100%;
}

.carousel-caption{
	font-size: 1em;
	margin-bottom: -20px;
	padding: 0px;
}

.box {
	background-color: #7caabb;
	margin-top: 120px;
	margin-bottom: 20px;
}
.field {
	margin-bottom: 0;
}

.col-xs-6 {
	padding: 0;
}

.col-md-6 {
	padding-bottom: 10px;
}

.col-md-4 {
	padding-bottom: 10px;
}

.form-control {
	padding: 0;
	width: 80%;
}

/*navigation*/
.navbar-inner {
	background: transparent;
}

.navbar-fixed-top {
    min-height: 100px;
}

.navbar-nav > li > a {
    padding-left: 20px;
    padding-top: 27px;
    padding-bottom: 0px;
}

.dropdown-menu {
	background: transparent;
}
.search {
	padding-top: 15px;
    padding-bottom: 0px;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background: transparent;
}

.navbar .navbar-nav > li > a {
	color: black;
}

.navbar-left:hover {
	background: transparent;
}
/*footer*/

.foot ul li {
	display: inline;
	font-size: 1em;	
}

.foot-text {
	float: left;
	margin: 0;
	padding-left: 0;
}

.foot a {
	color: white;
	float: left;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

footer {
	background-color: #1b1b1b;
	position: absolute;
	clear: both;
	width: 100%;
	left: 0;
	right: 0;
	font-family: Arial, Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, serif;
	text-decoration: none;
	margin-bottom: -10px;
}
.line-separator {
	height:1px;
	background:#717171;
	clear: both;
}

/* start page */

#start {
	padding-top: 300px;
	background: url("hanseat_1.jpg");
	background-size: cover;
	min-height: 700px;
	width: 100%;
	color: white;
}

#products {
	min-height: 570px;
}
#products h2 {
	text-align: center;
}

#products h1 {
	text-align: center;
	padding-top: 0.7em;
	padding-bottom: 0.5em;
}
#products a {
	color: black;
}
.image {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.bt2 {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 35%;
	color: black;
	outline: black solid 2px;
}

#inspiration {
	min-height:900px;
	background-color: #7caabb;
	background-size: cover;
	width: 100%;
}

#inspiration h1 {
	margin-top: 100px;
	text-align: center;
	padding-top: 0.7em;
	padding-bottom: 0.5em;
}
#inspiration p {
	text-align: center;
	font-size: 2em;
	line-height: 2em;
	padding-right: 15%;
	padding-left: 15%;
}
#inspiration a {
	color: black;
}

/* Product Page */

table {
	border: 1px solid black;
	margin-top: 1em;
}

#overview {
	margin-top: 0px;
	padding-top: 130px;
	padding-bottom:  20px;
	display: cover;
}

#overview h1 {
	padding-bottom: 0.5em;
}

#overview a {
	color: black;
}

#overview p {
	margin: 0px;
	text-align: center;
}
/* Subscribers */
/* Buttons */

.btn-normal {
	background: 0 0;
    border: 2px solid #f2f2f2;
    border-radius: 0;
    height: 40px;
    line-height: 28px;
    margin-top: 10px;
}


.btn-normal:hover {
	background: transparent;
}

/* Notice */

.alert {
	margin-top: 100px;
	margin-right: -33px;
	margin-bottom: 0px;
} 
/* Media */
@media (max-width: 480px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.8em;
	}
	.bt2 {
		width: 70%;
	}
	
}
@media (max-width: 767px) {
	.search {
		visibility: hidden;
		display: inline-block;
	}
	.bt2 {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.box {
		width: 30%;
	}
	.proview {
		width: 70%;
	}
}